*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body{
    font-family: Poppins;
}

.fs-12px{
    font-size: 12px;
}

.fw-600{
    font-weight: 600;
}
.h-60px{
    height: 60px;
}
.active{
    background-color: #1f7de96b;
}
.cursor-pointer{
    cursor: pointer;
}
.hover-bg:hover{
    background-color: #1f7de96b;
}
.transition{
    transition: all 0.5s;
}
.rotate{
    rotate: 180deg;
}