*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body{
    font-family: Poppins;
}

.fs-12px{
    font-size: 12px;
}
.fs-14px{
    font-size: 14px;
}
.fw-600{
    font-weight: 600;
}
.h-60px{
    height: 60px;
}
.active{
    background-color: #28326F;
}
.cursor-pointer{
    cursor: pointer;
}
.transition{
    transition: all 0.5s;
}
.rotate{
    rotate: -180deg;
}
.gap-8px{
    gap: 8px;
}
.pxy{
  padding: 12px 20px !important;
}

/* ====================submenu css==================== */
  
.menu a {
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #CED8E1;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out,padding 0.5s ease-out;
}

.submenu.open {
  max-height: 2000px;
  padding: 4px 0;
}

.submenu li a {
  display: block;
  padding: 4px 0;
  transition: color 0.3s ease;
}

.submenu li a:hover {
  color: #0d6efd;
  text-decoration: underline;
}